<h1>Book List</h1>

<p *ngIf="!bookDetails"><em>Loading...</em></p>
  <p>
    <a [routerLink]="['/bookcreate']"><button label = "Create New">Create New</button></a>
  </p>
  <table class='table' *ngIf="bookDetails">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookDetails">
        <td >{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>
          <button (click)="deleteBook(book.id)" class="btn btn-info"> Delete</button>
          <button (click)="editBook(book.id)" style="margin-left: 20px;" class="btn btn-info"> Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
